.spacer{
    flex: 1 1 auto;
}

.file-container{
    background-color: rgb(238, 237, 237);
    margin-left: 40%;
    margin-right: 40%;
}

.file-input{
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.file-button{
    margin-left: 30%;
    /* margin-top: 5%; */
    margin-bottom: 5%;
}